@import "../../mixins.scss";

.footer {
  min-height: 150px;
  overflow: hidden;
  position: relative;
}

.wave {
  height: 300px;
  left: 0;
  position: absolute;
  top: -150px;

  @include extra-large-devices {
    height: initial;
    min-height: 300px;
    min-width: 100%;
  }
}
