@import "../../mixins.scss";

.section4 {
  //   margin: auto auto 20px;

  .socialLinks {
    display: flex;
    justify-content: space-evenly;
    @include medium-devices {
      justify-content: center;
    }
  }

  .socialIcon {
    -webkit-mask: url("../../assets/blob.svg") 50% 50% no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    display: inline-block;
    height: 96px;
    margin-right: 7px;
    position: relative;
    width: 96px;
    &:last-child {
      margin-right: 0;
    }
    &::before {
      display: block;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.44),
        rgba(120, 189, 220, 0.21)
      );
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .accText {
    height: 0;
    left: -100000px;
    opacity: 0;
    position: absolute;
    top: -100000px;
    width: 0;
  }
}
