@import "../../mixins.scss";

.section3 {
  text-align: center;

  .imgWrapper {
    -webkit-mask: url("../../assets/blob.svg") 50% 50% no-repeat;
    // background-image: url("../../assets/lawn.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mask-size: contain;
    min-height: 230px;
    position: relative;
    .gradient {
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.59),
        rgba(122, 188, 217, 0.36)
      );
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .image {
      background-image: url("../../assets/image.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80px;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
  .title {
    margin: 0;
  }

  @include medium-devices {
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 20px));
    justify-content: space-between;
    padding: 0 30px;
  }
}
