.button {
  background-color: #00cba9;
  border: 0;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 20px;
  text-align: center;
}
